{% extends 'base.html.twig' %}

{% block title %}Edit LineItem{% endblock %}

{% block body %}
    <h1>Edit LineItem</h1>

    {{ include('line_item/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_line_item_index') }}">back to list</a>

    {{ include('line_item/_delete_form.html.twig') }}
{% endblock %}
